.item {
    margin-top: 2rem;
    margin-right: 15px;
    margin-bottom: 10px;
    display: inline-block;
    width: 270px;
    height: 400px;
    border: 1px solid lightgray;
    padding: 0 10px 10px 10px;
    background-color: white;
}

label {
    margin: 0 .5rem 0 .5rem;
    font-size: 1.2rem;
}

.footer {
    text-align: center;
    margin-top: 2rem;
}



.quantityPicker {
    margin-right: .5rem;
    margin-top: -1rem;
    display: inline-block;
    font-size: 2.5rem;
}

h4 {
    font-size: 1.3rem;
    margin-top: 1rem;
}

h5,
h6 {
    display: inline-block;
}

h5 {
    color: red;
    margin-right: 1rem;

}

h6 {
    color: black;

}

.item img {
    width: 200px;
}

.catTitle {
    text-align: left;
    margin-left: 2rem;
}

.cartTxt {
    font-size: .9rem;
    padding: 0 2rem;
}

.btn {
    margin-top: .5rem;
}

.priceTxt {
    color: gray;
}

.totalTxt {
    color: red;
    font-size: 1.1rem;
}

.total {
    margin-left: .5rem;
}